<rolltemplate class="sheet-rolltemplate-adz">
    <div class="scroll apply-penalty_{{apply_penalty}}">
        <h1>{{title}}</h1>

        {{#dice}}
            <p>
                {{result}}
                Erfolg{{#^rollTotal() result 1}}e{{/^rollTotal() result 1}}
                mit
                <span class="plain-roll transparent-roll">{{dice}}</span>
                Würfel{{#^rollTotal() dice 1}}n{{/^rollTotal() dice 1}}
            </p>
            <p class="note if-penalty-applied">Erfolgsabzug von {{penalty}} berücksichtigt.</p>
            <p class="note if-penalty-ignored">Erfolgsabzug ignoriert.</p>
        {{/dice}}
        {{^dice}}
            <p class="large transparent-roll">{{result}}</p>
        {{/dice}}
    </div>
</rolltemplate>
