@import url('https://fonts.googleapis.com/css?family=Eagle+Lake&display=swap');

.charsheet {
	background-color: #fafafa;
	min-width: 800px;
	--base-font-size: 10pt;
	font-size: var(--base-font-size);
}

.charsheet label {
	font-size: var(--base-font-size);
	margin: 0;
	padding: 0;
}

.sheet-layout,
.sheet-magic-matrix,
.sheet-attributes-list,
.sheet-horizontal,
.sheet-vertical {
	display: grid;
	grid-column-gap: 0;
	grid-row-gap: 0;
	align-items: center;
	justify-items: start;
}

.sheet-layout,
.sheet-magic-matrix,
.sheet-attributes-list {
	grid-gap: 0.5em 1em;
}

.sheet-layout {
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
			"base   .      .    "
			"attr   .      .    "
			"magic  magic  magic";
}

.sheet-basics label::after,
.sheet-attributes label::after {
	content: ":";
}

.sheet-basics {
	grid-area: base;
}

.sheet-attributes {
	grid-area: attr;
}

.sheet-magic {
	grid-area: magic;
}

.sheet-vertical {
	grid-template-columns: min-content;
	grid-template-rows: repeat(5, min-content);
}

.sheet-horizontal {
	grid-template-columns: repeat(5, min-content);
	grid-template-rows: min-content;
}

.sheet-stack {
	display: grid;
	grid-template-areas: "stack";
	align-items: center;
	justify-items: center;
}

.sheet-stack > * {
	grid-area: stack;
}

.sheet-attributes-list {
	grid-template-columns: 1fr min-content;
	grid-template-rows: repeat(9, 1fr);
}

.sheet-attributes-list label {
}

button.sheet-labelled {
	border-width: 0;
	background: unset;
	box-shadow: none;
}

.charsheet .sheet-layout button[type="roll"].sheet-labelled:hover label {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.charsheet .sheet-layout button[type="roll"].sheet-labelled::before {
	content: unset;
}

.sheet-clickable-label label:hover {
	color: blue;
	text-decoration: underline;
}

.sheet-magic-matrix {
	grid-template-columns: repeat(10, 1fr);
}

.sheet-magic-matrix,
.sheet-magic-matrix > div {
	justify-items: center;
}

.charsheet .sheet-clickable-total button[type="roll"] {
	border-width: 0;
	background: transparent;
	transform: rotate(45deg);
	opacity: 0;
	position: relative;
	width: 1em;
	height: 1em;
}

.charsheet .sheet-clickable-total button[type="roll"]::before,
.charsheet .sheet-clickable-total button[type="roll"]::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: "dicefontd6";
}

.charsheet .sheet-clickable-total button[type="roll"]::before {
	/* render a white '1' die below the '6' to make it non-transparent */
	content: "A";
	color: white;
}

.charsheet .sheet-clickable-total button[type="roll"]::after {
	content: "F";
	color: blue;
}

.charsheet  .sheet-clickable-total button[type="roll"]:hover {
	opacity: 1;
}

.charsheet .sheet-clickable-total > input[readonly] {
	color: darkblue;
}

.charsheet .sheet-layout div input {
	height: initial !important;
	border-color: #6a4602;
	border-width: 0;
	border-radius: 0;
	background: transparent;
	padding: 0;
	margin: 0 1px 2px 1px;
}

.charsheet .sheet-layout div input:not([readonly]) {
	border-color: #6a4602;
	border-bottom-width: 1px;
}

.charsheet .sheet-layout div input:focus {
	background-color: #fef68e;
}

.charsheet .sheet-layout div input[readonly] {
	cursor: default;
	background: rgba(0, 0, 0, 0.04);
}

.charsheet .sheet-layout div input[type=number],
.charsheet .sheet-layout div input.sheet-number {
	-moz-appearance: textfield;
	width: 2em;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.sheet-rolltemplate-adz {
	display: block;
	margin-right: 0.75em;
	border-image-slice: 28 35 30 24;
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch;
	border-image-source: url("https://svgshare.com/i/LMv.svg");
	background: #d9bd96;
	background-clip: content-box;
	padding: 20px;
	text-align: center;
}

.sheet-rolltemplate-adz h1 {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
	font-family: 'Eagle Lake';
	line-height: 200%;
}

.sheet-rolltemplate-adz span.inlinerollresult.fullcrit,
.sheet-rolltemplate-adz span.inlinerollresult.fullfail,
.sheet-rolltemplate-adz span.inlinerollresult.importantroll {
	border-width: 0;
	padding: 0.2em 0.4em;
}

.sheet-rolltemplate-adz span.inlinerollresult {
	border-radius: 0.4em;
}

.sheet-rolltemplate-adz .sheet-plain .inlinerollresult {
	background: transparent;
	font-weight: normal;
	border-width: 0;
	padding: 0;
}

.sheet-rolltemplate-adz .sheet-note {
	font-size: 70%;
}
